:host {
        display: flex;
        box-sizing: border-box;
        box-shadow: var(--md-sys-elevation-level0);
        background-color: var(--md-sys-color-surface);
        transition: all var(--md-sys-motion-easing-standard) var(--md-sys-motion-duration-short4);
}

:host.on-scroll {
        box-shadow: var(--md-sys-elevation-level2);
        background-color: var(--md-sys-color-surface-container);
}