:host {
        width: 100%;
        height: 80px;
        display: flex;
        padding: 0 16px 0 4px;
        align-items: center;
        box-sizing: border-box;
        box-shadow: var(--md-sys-elevation-level2);
        border-radius: var(--md-sys-shape-corner-none);
        background-color: var(--md-sys-color-surface-container);
}

:host.with-fab {
        height: 72px;
}

:host > mds-fab-button {
        margin-left: auto;
}