:host {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 72px;
        display: flex;
        position: fixed;
        flex-direction: column;
        box-shadow: var(--md-sys-elevation-level3);
        background-color: var(--md-sys-color-surface-container-high);
}

:host > * {
        width: 100%;
}

:host > section.header {
        gap: 4px;
        display: flex;
        padding: 0 4px;
        align-items: center;
        box-sizing: border-box;
}

:host > section.header > input {
        flex-grow: 1;
}

:host > section.header > input {
        color: var(--md-sys-color-on-surface)
}

:host > section.header > input::placeholder {
        color: var(--md-sys-color-on-surface-variant)
}

:host > section.content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 76px);
}
