@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("./tokens/shapes.css");
@import url("./tokens/motions.css");
@import url("./tokens/elevations.css");
@import url("./tokens/typographies.css");

* {
        user-select: none;
        font-size: var(--md-sys-typescale-body-medium-size);
        font-family: var(--md-sys-typescale-body-medium-font);
        font-weight: var(--md-sys-typescale-body-medium-weight);
        letter-spacing: var(--md-sys-typescale-body-medium-tracking);
        line-height: var(--md-sys-typescale-body-medium-line-height);
}

body {
        background-color: var(--md-sys-color-background);
}