<!--<mds-center-aligned-top-app-bar text="Center aligned top app bar" leadingIcon="menu" trailingIcon="person" scrollableElementId="main"/>-->
<mds-small-top-app-bar text="Small top app bar" leadingIcon="menu" scrollableElementId="main" (onLeadingIconClicked)="toggleMenu()">
        <mds-standard-icon-button icon="person"/>
        <mds-standard-icon-button icon="logout"/>
        <mds-standard-icon-button icon="more_vert"/>
</mds-small-top-app-bar>
<!--<mds-medium-top-app-bar text="Medium top app bar" leadingIcon="arrow_back" scrollableElementId="main">
        <mds-standard-icon-button icon="person"/>
        <mds-standard-icon-button icon="logout"/>
        <mds-standard-icon-button icon="more_vert"/>
</mds-medium-top-app-bar>-->
<!--<mds-large-top-app-bar text="Medium top app bar" leadingIcon="arrow_back" scrollableElementId="main">
        <mds-standard-icon-button icon="person"/>
        <mds-standard-icon-button icon="logout"/>
        <mds-standard-icon-button icon="more_vert"/>
</mds-large-top-app-bar>-->

<mds-navigation-rail >
        <mds-navigation-rail-item icon="radio_button_unchecked" label="Label 1" [active]="true"/>
        <mds-navigation-rail-item icon="check_box_outline_blank" label="Label 2" [badgeDisplayed]="true"/>
        <mds-navigation-rail-item icon="change_history" label="Label 3" [badgeDisplayed]="true" badgeLabel="1" />
</mds-navigation-rail>

<mds-navigation-drawer [ngClass]="{ hidden: !isDrawerMenuOpened() }">
        <span class="title-small">Menu</span>
        <mds-navigation-drawer-item icon="radio_button_unchecked" label="Label 1" [active]="true"/>
        <mds-navigation-drawer-item icon="check_box_outline_blank" label="Label 2"/>
        <mds-navigation-drawer-item icon="change_history" label="Label 3" badgeLabelText="1"/>
        <mds-divider/>
        <span class="title-small">Others</span>
        <mds-navigation-drawer-item icon="settings" label="Setting"/>
</mds-navigation-drawer>

<section id="theme-manager">
        <mds-outlined-icon-button icon="menu" (click)="_setDrawer()"/>
        <mds-outlined-icon-button icon="dialogs" (click)="_setDialog()"/>
        <mds-outlined-icon-button icon="pages" (click)="_setFullDialog()"/>
        <mds-outlined-icon-button icon="light_mode" (click)="setTheme('light')"/>
        <mds-outlined-icon-button icon="dark_mode" (click)="setTheme('dark')"/>
</section>

<article id="main" [ngClass]="{ reduced: isDrawerMenuOpened() }">
        <section class="line">
                <mds-badge/>
                <mds-badge label="1"/>
                <mds-badge label="999+"/>
        </section>

        <section class="line">
                <mds-elevated-button label="Elevated"/>
                <mds-elevated-button label="Elevated" icon="add"/>
                <mds-elevated-button label="Elevated" [disabled]="true"/>
                <mds-elevated-button label="Elevated" icon="add" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-filled-button label="Filled"/>
                <mds-filled-button label="Filled" icon="add"/>
                <mds-filled-button label="Filld" [disabled]="true"/>
                <mds-filled-button label="Filled" icon="ad" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-filled-tonal-button label="Filled tonal"/>
                <mds-filled-tonal-button label="Filled tonal" icon="add"/>
                <mds-filled-tonal-button label="Filled tonal" [disabled]="true"/>
                <mds-filled-tonal-button label="Filled tonal" icon="add" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-outlined-button label="Outlined"/>
                <mds-outlined-button label="Outlined" icon="add"/>
                <mds-outlined-button label="Outlined" [disabled]="true"/>
                <mds-outlined-button label="Outlined" icon="add" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-text-button label="Text"/>
                <mds-text-button label="Text" icon="add"/>
                <mds-text-button label="Text" [disabled]="true"/>
                <mds-text-button label="Text" icon="add" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-fab-button icon="add" size="small"/>
                <mds-fab-button icon="add"/>
                <mds-fab-button icon="add" size="large"/>
                <mds-fab-button icon="add" size="small" color="secondary"/>
                <mds-fab-button icon="add" color="secondary"/>
                <mds-fab-button icon="add" size="large" color="secondary"/>
                <mds-fab-button icon="add" size="small" color="tertiary"/>
                <mds-fab-button icon="add" color="tertiary"/>
                <mds-fab-button icon="add" size="large" color="tertiary"/>
                <mds-fab-button icon="add" size="small" color="branded"/>
                <mds-fab-button icon="add" color="branded"/>
                <mds-fab-button icon="add" size="large" color="branded"/>
                <mds-fab-button icon="add" size="small" color="surface"/>
                <mds-fab-button icon="add" color="surface"/>
                <mds-fab-button icon="add" size="large" color="surface"/>
        </section>

        <section class="line">
                <mds-fab-button icon="add" size="small" [lowered]="true"/>
                <mds-fab-button icon="add" [lowered]="true"/>
                <mds-fab-button icon="add" size="large" [lowered]="true"/>
                <mds-fab-button icon="add" size="small" color="secondary" [lowered]="true"/>
                <mds-fab-button icon="add" color="secondary" [lowered]="true"/>
                <mds-fab-button icon="add" size="large" color="secondary" [lowered]="true"/>
                <mds-fab-button icon="add" size="small" color="tertiary" [lowered]="true"/>
                <mds-fab-button icon="add" color="tertiary" [lowered]="true"/>
                <mds-fab-button icon="add" size="large" color="tertiary" [lowered]="true"/>
                <mds-fab-button icon="add" size="small" color="branded" [lowered]="true"/>
                <mds-fab-button icon="add" color="branded" [lowered]="true"/>
                <mds-fab-button icon="add" size="large" color="branded" [lowered]="true"/>
                <mds-fab-button icon="add" size="small" color="surface" [lowered]="true"/>
                <mds-fab-button icon="add" color="surface" [lowered]="true"/>
                <mds-fab-button icon="add" size="large" color="surface" [lowered]="true"/>
        </section>

        <section class="line">
                <mds-extended-fab-button label="Extended FAB"/>
                <mds-extended-fab-button icon="add" label="Extended FAB"/>
                <mds-extended-fab-button label="Extended FAB" [lowered]="true"/>
                <mds-extended-fab-button icon="add" label="Extended FAB" [lowered]="true"/>
        </section>

        <section class="line">
                <mds-filled-icon-button icon="add"/>
                <mds-filled-icon-button icon="add" [selected]="true"/>
                <mds-filled-icon-button icon="add" [disabled]="true"/>
                <mds-filled-icon-button icon="add" [selected]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-filled-tonal-icon-button icon="add"/>
                <mds-filled-tonal-icon-button icon="add" [selected]="true"/>
                <mds-filled-tonal-icon-button icon="add" [disabled]="true"/>
                <mds-filled-tonal-icon-button icon="add" [selected]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-outlined-icon-button icon="add"/>
                <mds-outlined-icon-button icon="add" [selected]="true"/>
                <mds-outlined-icon-button icon="add" [disabled]="true"/>
                <mds-outlined-icon-button icon="add" [selected]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-standard-icon-button icon="add"/>
                <mds-standard-icon-button icon="add" [selected]="true"/>
                <mds-standard-icon-button icon="add" [disabled]="true"/>
                <mds-standard-icon-button icon="add" [selected]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-segmented-button [(options)]="segmentedButtonOptions"/>
        </section>

        <section class="line">
                <mds-elevated-card>
                        <span class="body-medium">Elevated card</span>
                </mds-elevated-card>
                <mds-elevated-card [disabled]="true">
                        <span class="body-medium">Elevated card</span>
                </mds-elevated-card>
        </section>

        <section class="line">
                <mds-filled-card>
                        <span class="body-medium">Filled card</span>
                </mds-filled-card>
                <mds-filled-card [disabled]="true">
                        <span class="body-medium">Filled card</span>
                </mds-filled-card>
        </section>

        <section class="line">
                <mds-outlined-card>
                        <span class="body-medium">Outlined card</span>
                </mds-outlined-card>
                <mds-outlined-card [disabled]="true">
                        <span class="body-medium">Outlined card</span>
                </mds-outlined-card>
        </section>

        <section class="line">
                <mds-checkbox/>
                <mds-checkbox [isOnError]="true"/>
                <mds-checkbox [isParent]="true"/>
                <mds-checkbox [isParent]="true" [isOnError]="true"/>
                <mds-checkbox [selected]="true"/>
                <mds-checkbox [selected]="true" [isOnError]="true"/>
                <mds-checkbox [selected]="true" [isParent]="true"/>
                <mds-checkbox [selected]="true" [isParent]="true" [isOnError]="true"/>
                <mds-checkbox [disabled]="true"/>
                <mds-checkbox [isOnError]="true" [disabled]="true"/>
                <mds-checkbox [isParent]="true" [disabled]="true"/>
                <mds-checkbox [isParent]="true" [isOnError]="true" [disabled]="true"/>
                <mds-checkbox [selected]="true" [disabled]="true"/>
                <mds-checkbox [selected]="true" [isOnError]="true" [disabled]="true"/>
                <mds-checkbox [selected]="true" [isParent]="true" [disabled]="true"/>
                <mds-checkbox [selected]="true" [isParent]="true" [isOnError]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-assist-chip label="Assist"/>
                <mds-assist-chip label="Assist" leadingIcon="info"/>
                <mds-assist-chip label="Assist" [elevated]="true"/>
                <mds-assist-chip label="Assist" leadingIcon="info" [elevated]="true"/>
                <mds-assist-chip label="Assist" [disabled]="true"/>
                <mds-assist-chip label="Assist" leadingIcon="info" [disabled]="true"/>
                <mds-assist-chip label="Assist" [elevated]="true" [disabled]="true"/>
                <mds-assist-chip label="Assist" leadingIcon="info" [elevated]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-filter-chip label="Filter"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" trailingIcon="arrow_drop_down"/>
                <mds-filter-chip label="Filter" [elevated]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" [elevated]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" trailingIcon="arrow_drop_down" [elevated]="true"/>
                <mds-filter-chip label="Filter" [disabled]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" [disabled]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" trailingIcon="arrow_drop_down" [disabled]="true"/>
                <mds-filter-chip label="Filter" [elevated]="true" [disabled]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" [elevated]="true" [disabled]="true"/>
                <mds-filter-chip label="Filter" leadingIcon="filter_list" trailingIcon="arrow_drop_down" [elevated]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-input-chip label="Input"/>
                <mds-input-chip label="Input" leadingIcon="image"/>
                <mds-input-chip label="Input" leadingIcon="image" trailingIcon="close"/>
                <mds-input-chip label="Input" [disabled]="true"/>
                <mds-input-chip label="Input" leadingIcon="image" [disabled]="true"/>
                <mds-input-chip label="Input" leadingIcon="image" trailingIcon="close" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-suggestion-chip label="Suggestion"/>
                <mds-suggestion-chip label="Suggestion" [elevated]="true"/>
                <mds-suggestion-chip label="Suggestion" [disabled]="true"/>
                <mds-suggestion-chip label="Suggestion" [elevated]="true" [disabled]="true"/>
        </section>

        <section class="line">
                <mds-list [data]="dataList()"/>
                <mds-list [data]="dataList()" [divided]="true"/>
                <mds-list [data]="dataList()" [divided]="true" [withLeadingCheckbox]="true"/>
                <mds-list [data]="dataList()" [divided]="true" [withTrailingCheckbox]="true"/>
        </section>

        <section class="line">
                <mds-menu>
                        <mds-menu-item label="Item 1"/>
                        <mds-menu-item label="Item 2" leadingIcon="check" [disabled]="true"/>
                        <mds-menu-item label="Item 3" trailingIcon="arrow_right"/>
                        <mds-divider/>
                        <mds-menu-item label="Item 4" leadingIcon="check" trailingIcon="arrow_right"/>
                </mds-menu>
        </section>

        <section class="line">
                <mds-navigation-bar [items]="navbarItems()"/>
        </section>

        <section class="line">
                <mds-bottom-app-bar FABButtonIcon="add">
                        <mds-standard-icon-button icon="add"/>
                        <mds-standard-icon-button icon="remove"/>
                        <mds-standard-icon-button icon="check"/>
                        <mds-standard-icon-button icon="cancel"/>
                </mds-bottom-app-bar>
        </section>
</article>

@if(dialogOpened()) {
        <mds-basic-dialog 
                icon="refresh" 
                headline="Basic dialog" 
                [supportingText]="textPlaceHolder()" 
                [displayDividers]="true"
                leftButtonLabel="Cancel" 
                rightButtonLabel="Confirm"
                (onLeftButtonClicked)="_setDialog()"
                (onRightButtonClicked)="_setDialog()">
                <span>{{ textPlaceHolder() }}</span>
        </mds-basic-dialog>
}

@if(fullDialogOpened()) {
        <mds-full-screen-dialog 
                textButton="Confirm" 
                headline="Full screen dialog" 
                (onIconClicked)="_setFullDialog()"
                (onTextClicked)="_setFullDialog()">
                <span>{{ textPlaceHolder() }}</span>
        </mds-full-screen-dialog>
}

@if (drawerModalOpened()) {
        <mds-modal-navigation-drawer>
                <span class="title-small">Menu</span>
                <mds-navigation-drawer-item icon="home" label="home" [active]="true"/>
                <mds-navigation-drawer-item icon="message" label="Message"/>
                <mds-navigation-drawer-item icon="person" label="Account" badgeLabelText="+1"/>
                <mds-divider/>
                <span class="title-small">Others</span>
                <mds-navigation-drawer-item icon="settings" label="Setting"/>
        </mds-modal-navigation-drawer>
}