<section class="line">
        <mds-badge/>
        <mds-badge label="1"/>
        <mds-badge label="999+"/>
</section>

<section class="line">
        <mds-elevated-button label="Elevated"/>
        <mds-elevated-button label="Elevated" icon="add"/>
        <mds-elevated-button label="Elevated" disabled/>
        <mds-elevated-button label="Elevated" icon="add" disabled/>
</section>

<section class="line">
        <mds-filled-button label="Filled"/>
        <mds-filled-button label="Filled" icon="add"/>
        <mds-filled-button label="Filled" disabled/>
        <mds-filled-button label="Filled" icon="add" disabled/>
</section>

<section class="line">
        <mds-filled-tonal-button label="Filled tonal"/>
        <mds-filled-tonal-button label="Filled tonal" icon="add"/>
        <mds-filled-tonal-button label="Filled tonal" disabled/>
        <mds-filled-tonal-button label="Filled tonal" icon="add" disabled/>
</section>

<section class="line">
        <mds-outlined-button label="Outlined"/>
        <mds-outlined-button label="Outlined" icon="add"/>
        <mds-outlined-button label="Outlined" disabled/>
        <mds-outlined-button label="Outlined" icon="add" disabled/>
</section>

<section class="line">
        <mds-text-button label="Text"/>
        <mds-text-button label="Text" icon="add"/>
        <mds-text-button label="Text" disabled/>
        <mds-text-button label="Text" icon="add" disabled/>
</section>

<section class="line">
        <mds-fab-button icon="add" size="small"/>
        <mds-fab-button icon="add"/>
        <mds-fab-button icon="add" size="large"/>
        <mds-fab-button icon="add" size="small" color="secondary"/>
        <mds-fab-button icon="add" color="secondary"/>
        <mds-fab-button icon="add" size="large" color="secondary"/>
        <mds-fab-button icon="add" size="small" color="tertiary"/>
        <mds-fab-button icon="add" color="tertiary"/>
        <mds-fab-button icon="add" size="large" color="tertiary"/>
        <mds-fab-button icon="add" size="small" color="branded"/>
        <mds-fab-button icon="add" color="branded"/>
        <mds-fab-button icon="add" size="large" color="branded"/>
        <mds-fab-button icon="add" size="small" color="surface"/>
        <mds-fab-button icon="add" color="surface"/>
        <mds-fab-button icon="add" size="large" color="surface"/>
</section>

<section class="line">
        <mds-fab-button icon="add" size="small" [lowered]="true"/>
        <mds-fab-button icon="add" [lowered]="true"/>
        <mds-fab-button icon="add" size="large" [lowered]="true"/>
        <mds-fab-button icon="add" size="small" color="secondary" [lowered]="true"/>
        <mds-fab-button icon="add" color="secondary" [lowered]="true"/>
        <mds-fab-button icon="add" size="large" color="secondary" [lowered]="true"/>
        <mds-fab-button icon="add" size="small" color="tertiary" [lowered]="true"/>
        <mds-fab-button icon="add" color="tertiary" [lowered]="true"/>
        <mds-fab-button icon="add" size="large" color="tertiary" [lowered]="true"/>
        <mds-fab-button icon="add" size="small" color="branded" [lowered]="true"/>
        <mds-fab-button icon="add" color="branded" [lowered]="true"/>
        <mds-fab-button icon="add" size="large" color="branded" [lowered]="true"/>
        <mds-fab-button icon="add" size="small" color="surface" [lowered]="true"/>
        <mds-fab-button icon="add" color="surface" [lowered]="true"/>
        <mds-fab-button icon="add" size="large" color="surface" [lowered]="true"/>
</section>

<section class="line">
        <mds-extended-fab-button label="Extended FAB"/>
        <mds-extended-fab-button icon="add" label="Extended FAB"/>
        <mds-extended-fab-button label="Extended FAB" [lowered]="true"/>
        <mds-extended-fab-button icon="add" label="Extended FAB" [lowered]="true"/>
</section>

<section class="line">
        <mds-filled-icon-button icon="add"/>
        <mds-filled-icon-button icon="add" [selected]="true"/>
        <mds-filled-icon-button icon="add" disabled/>
        <mds-filled-icon-button icon="add" [selected]="true" disabled/>
</section>

<section class="line">
        <mds-filled-tonal-icon-button icon="add"/>
        <mds-filled-tonal-icon-button icon="add" [selected]="true"/>
        <mds-filled-tonal-icon-button icon="add" disabled/>
        <mds-filled-tonal-icon-button icon="add" [selected]="true" disabled/>
</section>

<section class="line">
        <mds-outlined-icon-button icon="add"/>
        <mds-outlined-icon-button icon="add" [selected]="true"/>
        <mds-outlined-icon-button icon="add" disabled/>
        <mds-outlined-icon-button icon="add" [selected]="true" disabled/>
</section>

<section class="line">
        <mds-standard-icon-button icon="add"/>
        <mds-standard-icon-button icon="add" [selected]="true"/>
        <mds-standard-icon-button icon="add" disabled/>
        <mds-standard-icon-button icon="add" [selected]="true" disabled/>
</section>