:host.selected {
        border: none;
        background-color: var(--md-sys-color-secondary-container);
}

:host > span {
        color: var(--md-sys-color-on-surface-variant)
}

:host.selected > span {
        color: var(--md-sys-color-on-secondary-container)
}

:host:not(.disabled):hover {
        box-shadow: var(--md-sys-elevation-level0);
}

:host:not(.disabled):hover {
        box-shadow: var(--md-sys-elevation-level0);
        background-color: color-mix(in srgb, transparent, var(--md-sys-color-on-surface-variant) var(--md-sys-state-hover-state-layer-opacity));
}

:host:not(.disabled).elevated:hover {
        box-shadow: var(--md-sys-elevation-level2);
}

:host:not(.disabled).selected:hover {
        box-shadow: var(--md-sys-elevation-level1);
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) var(--md-sys-state-hover-state-layer-opacity));
}

:host:not(.disabled):focus-visible {
        box-shadow: var(--md-sys-elevation-level0);
        background-color: color-mix(in srgb, transparent, var(--md-sys-color-on-surface-variant) var(--md-sys-state-focus-state-layer-opacity));
}

:host:not(.disabled).elevated:focus-visible {
        box-shadow: var(--md-sys-elevation-level1);
}

:host:not(.disabled).selected:focus-visible {
        box-shadow: var(--md-sys-elevation-level0);
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) var(--md-sys-state-focus-state-layer-opacity));
}

:host:not(.disabled):active {
        box-shadow: var(--md-sys-elevation-level0);
        background-color: color-mix(in srgb, transparent, var(--md-sys-color-on-surface-variant) var(--md-sys-state-pressed-state-layer-opacity));
}

:host:not(.disabled).elevated:active {
        box-shadow: var(--md-sys-elevation-level1);
}

:host:not(.disabled).selected:active {
        box-shadow: var(--md-sys-elevation-level0);
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) var(--md-sys-state-pressed-state-layer-opacity));
}