:host {
        width: 6px;
        height: 6px;
        display: flex;
        border-radius: 3px;
        align-items: center;
        background-color: var(--md-sys-color-error);
}

:host.large {
        height: 16px;
        padding: 0 4px;
        width: fit-content;
        border-radius: 8px;
        box-sizing: border-box;
}

:host > span.label-small {
        color: var(--md-sys-color-on-error)
}