:host {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        transition: all var(--md-sys-motion-easing-standard) var(--md-sys-motion-duration-short4);
}

:host > span {
        font-size: 24px;
}

:host:hover {
        cursor: pointer;
}

:host.disabled {
        pointer-events: none;
}

:host.disabled:hover {
        cursor: not-allowed;
}